.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.centered-table {
  width: 100%;
  margin: 0 auto;
}

table {
  width: 80%;
  background: #dadada;
  padding: 1rem;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
}

th {
  text-align: left;
  background: #d31c1c;
  color: aliceblue;
}

tr:nth-of-type(odd) {
  background: #e9e9e9;
}

